#main {
    width: 100px;
    background: green;
    border-radius: 50%;
    margin: 50px;
}

#second {
    width: 100px;
    height: 100px;
    background: red;
    margin: 50px;
}

#pink {
    width: 100px;
    height: 100px;
    background: pink;
    margin: 50px;
}

#green {
    width: 100px;
    height: 100px;
    background: green;
    margin: 50px;
}

#black {
    width: 100px;
    height: 100px;
    background: black;
    margin: 50px;
}